{% extends '::TeamRace.html.twig' %}

{% block navigation %}

<a id="navigationHome" href="{{ url('userHome') }}">{{ 'home' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('userAbout') }}">{{ 'about' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('userProfile') }}">{{ 'profile' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('userTeamRaces') }}">{{ 'teamRaces' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('logout') }}">{{ 'logout' | trans }}</a><span class="navigationSpacer"></span>

<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>

<span id="navigationLocale">
	{{ "Choose language:"|trans }}
	&nbsp;
	<a class="navigationLocaleSwitch" id="de" href="{{ url('languageSwitch', {'locale': 'de'}) }}">de</a>
	<a class="navigationLocaleSwitch" id="en" href="{{ url('languageSwitch', {'locale': 'en'}) }}">en</a>
</span>

{% endblock %}

{% block navigationTeamrace %}

<a class="navigationTeamraceItem" href="{{ url('teamraceHome', parameters={'idTeamrace': teamrace.idTeamrace}) }}" style="color:#000;">Teamrace {{ teamrace.name }}</a><span class="navigationSpacer"></span>
<a class="navigationTeamraceItem" href="{{ url('teamraceChallenges', parameters={'idTeamrace': teamrace.idTeamrace}) }}">{{ 'challenges' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationTeamraceItem" href="{{ url('teamraceTeams', parameters={'idTeamrace': teamrace.idTeamrace}) }}">{{ 'teams' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationTeamraceItem" href="{{ url('teamraceMembers', parameters={'idTeamrace': teamrace.idTeamrace}) }}">{{ 'members' | trans }}</a><span class="navigationSpacer"></span>
<a class="navigationTeamraceItem" href="{{ url('teamraceStandings', parameters={'idTeamrace': teamrace.idTeamrace}) }}">{{ 'standings' | trans }}</a><span class="navigationSpacer"></span>

{% endblock %}