{% extends "TeamRaceWebBundle:Teamrace:_layout.html.twig" %}

{% block content %}

<style>
div.listBox {
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0 0 10px;
	padding: 5px;
	width: 600px;
}
</style>

<h3>{{ 'Welcome at the central hub of the Teamrace ' | trans }}{{ teamrace.name }}</h3>

<p>{{ 'Here you are able to create, view and set the results of challenges, you can add users to the teamrace,
create teams and view the standings' | trans }}</p>

<h3>{{ 'Blog' | trans }}</h3>

{% if role == 1 %}

{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_label(form.headline, 'Headline' | trans) }}<br>
	{{ form_widget(form.headline) }}<br>

	{{ form_label(form.text, 'Text' | trans) }}<br>
	{{ form_widget(form.text) }}<br>
	
	{{ form_widget(form.submit, { 'label': 'Send Blog Post' | trans }) }}
{{ form_end(form) }}

{% endif %}

<br>
<div class="listBox">
{% set i = 0 %}
{% for blog in blogs %}

{% if i > 0 %}
<hr style="height:1px; border-width:0; color:#ccc; background-color:#ccc">
{% endif %}

<h4>{{ blog.headline }}
<span style="float:right; font-weight:normal;">{{ blog.date | date("d.m.y G:i") }}</span></h4>
<p>{{ blog.text }}</p>
{% set i = i+1 %}
{% endfor %}
</div>
{% endblock %}
