{% extends 'TeamRaceWebBundle:External:_layout.html.twig' %}

{% block content %}
<p>
{{ 'Welcome, this is a teamRace hub.'|trans }}
</p>

<p>
{{ 'This software is designed as a service for teamRaces.'|trans }}<br>
<span style="color:black">{{ 'What is a teamRace?'|trans }}</span><br>
{{ 'It is thought to be a great, interdisciplinary competition, consisting of several challenges and teams. '|trans }}
</p>

{% set about %}
<a href="{{ url('externalAbout') }}">about</a> 
{% endset %}

<p>{{ 'Check out the ' + about + 'page'|trans }}</p>
{% endblock %}