{% extends "TeamRaceWebBundle:User:_layout.html.twig" %}

{% block content %}
<p>{{ "You are now logged in!" | trans }} </p>

<table>
{% for userTeamrace in userTeamraces %}

<tr><td>
<a href="{{ url('teamraceHome', parameters={'idTeamrace': userTeamrace.idTeamrace.idTeamrace}) }}">{{ userTeamrace.idTeamrace.name }}</a></td></tr>

{% endfor %}
</table>

<p><a href="{{ url('userCreateTeamRace') }}">{{ "Create a new teamRace" | trans }}</a>
{% endblock %}
