{% extends "TeamRaceWebBundle:User:_layout.html.twig" %}

{% block content %}
<h3>{{ "Profile Information" | trans }}</h3>
<table>
	<tr>
		<td>{{ "Your first name:" | trans }}</td>
		<td>{{ user.firstName }}</td>
	</tr>
	<tr>
		<td >{{ "Your last name:" | trans }}</td>
		<td>{{ user.lastName }}</td>
	</tr>
	<tr>
		<td>{{ "Member since:" | trans }}</td>
		<td>{{ user.accountCreated | date("d. m. y") }}</td>
	</tr>
</table>

{% endblock %}
