{% extends '::TeamRace.html.twig' %}

{% block navigation %}

<a id="navigationHome" href="{{ url('TeamRaceWebIndex') }}">teamRace</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('TeamRaceWebAbout') }}">about</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('TeamRaceWebLogin') }}">login</a><span class="navigationSpacer"></span>
<a class="navigationItem" href="{{ url('TeamRaceWebRegister') }}">register</a><span class="navigationSpacer"></span>

<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>
<span class="navigationSpacer"></span>

<span id="navigationLocale">
	{{ "Choose language:"|trans }}
	&nbsp;
	<a class="navigationLocaleSwitch" id="de">de</a>
	<a class="navigationLocaleSwitch" id="en">en</a>
</span>

{% endblock %}